.saveButton{
  min-height: 0;
  position: fixed;
  right: 1rem;
  padding: 0.4rem 1.5rem 0.4rem 1.5rem;
  background: #88AF28;
}
.saveButton:hover {
  background: #88AF28;
}
.microphoneIcon {
  fill: rgb(240, 18, 18);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.stopIcon {
  fill: rgb(240, 18, 18);
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  }
.padBottomArea{
  display: flex;
  justify-content:center;
  padding-top: 1rem;
  }
.heading{
  padding-top: 0.5rem;
  font-size: 13px;
  font-style: italic;
}

