.saveButton{
  left: 30%
}

.microphoneIcon {
  fill: rgb(240, 18, 18);
  height: 55px;
  width: 50px;
}

.stopIcon {
  fill: rgb(240, 18, 18);
  height: 55px;
  width: 75px;
}

.padBottomArea{
    display: flex;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
  }


