.floating {
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    padding-right: 22px;
    width: 120px;
    height: 60px;
    border-radius: 28px;
    background: #007d79;
    font-size: 18px;
}
@media (max-width: 796px) {

.floating > div  {
    display: none;
}

.floating {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
}
.floating:hover {
    background: #007d79
}
.exclamation{
    width: 15px;
    height: 15px;
    position: relative;
    left: 8px;
    bottom: 6px;
    background-color: white;
    fill: red;
    border-radius: 80%;
}

.notes{
    position: absolute;
}