.draggableBox {
  width: 30%;
  position: fixed;
  right: 0rem;
  bottom: 0rem;
  background-color: #f4f4f4;
  opacity: 1;
  padding: 1rem;
  cursor: move;
  z-index: 10;
  border: 1px solid #007d79;
  box-shadow: 0px 0px 2px 1px #007d79;
}

  .minimizeIcon{
    width: 1.5rem;
    block-size: auto;
    cursor: pointer;
  }
  
  .heading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }
  
